In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [[1,2], [3,4], [5, 6]]
})
df.to_pickle('p.pkl')

In [17]:
pd.read_pickle("p.pkl")

   a       b
0  1  [1, 2]
1  2  [3, 4]
2  3  [5, 6]

In [12]:
df['term_vec'] = df['term_vec'].apply(lambda x: x)
df['term_vec'].to_list()[0]

'[ 0.          0.          0.          0.          0.          0.\n  1.4285785   0.          0.          0.          0.          3.8938713\n  0.          0.          0.          5.6631174   0.          0.\n  0.          0.          0.          0.          0.          0.\n  0.          6.7749305   0.          0.          0.          2.7286215\n  0.          0.          0.          0.          0.          0.\n  0.          0.          0.          0.          0.          0.\n  6.2329526   0.          0.          0.          0.          0.\n  0.          3.104117    0.          9.845002    0.          0.\n  0.          0.          0.          0.          0.          0.\n  0.          3.7789292   0.          0.          0.          1.1910783\n  0.          0.38787046  0.          0.          2.3009608   1.498188\n  0.          0.          0.          1.0454406   0.          0.\n  5.5816245   0.          0.          0.          0.          0.\n  0.          0.57982826  0.          0.          0.          0.\n  0.          0.         10.823749    0.          0.          0.\n  0.          0.          0.5312767   9.116775    0.          3.1431236\n  0.          0.          5.422796    0.          0.          0.\n  0.          0.          0.          0.          0.          0.\n  2.4261713   0.          3.5027983   0.          0.          0.\n  0.          0.          7.4511933   0.          7.5178027   0.\n  0.7463837   0.          0.          7.6891446   2.6994178   0.\n  0.          0.          0.          0.          0.          7.912953\n  0.          0.          0.          0.          0.          0.\n  0.          2.5990753   0.          0.          0.          1.2863321\n  0.          6.0214605   0.54437655  3.400663    0.          0.\n  0.          2.526101    0.          0.          0.9599601   0.\n  0.          0.          0.          0.          0.          0.22556132\n  0.          4.531943    3.485688    0.          0.          0.\n  0.          0.          0.21348068  0.          0.          0.\n  6.764987    1.8954023   0.          1.9741797   0.          0.\n  0.74184453  0.          0.          0.38649046  0.          0.\n  0.          0.          0.8880531   8.519696    0.          0.\n  0.          0.        ]'