In [1]:
import os

import numpy as np
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

In [2]:
! ls /home/alexkay/MEPHI_04/MagistryDissertation/MedConcNorm/data/external/

cadec1	MRCONSO_ENG_MDR.csv  PsyTAR_dataset.xlsx  smm4h_2021
cadec2	MRCONSO.RRF	     smm4h_2017

# UMLS base (micro)

In [3]:
umls_eng_mdr = pd.read_csv('../data/external/MRCONSO_ENG_MDR.csv')
umls_eng_mdr

,Unnamed: 0,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,2276,C0000727,ENG,P,L0000727,VCW,S0584932,N,A0639292,NaN,NaN,10000647,MDR,PT,10000647,Acute abdomen,3,N,256.0
1,2282,C0000727,ENG,P,L0000727,VCW,S0584932,N,A25741630,NaN,NaN,10000647,MDR,LLT,10000647,Acute abdomen,3,N,256.0
2,2296,C0000727,ENG,S,L0161339,PF,S1616740,Y,A25720821,NaN,NaN,10000647,MDR,LLT,10042784,Syndrome abdominal acute,3,N,NaN
3,2299,C0000727,ENG,S,L0161339,VCW,S1616739,Y,A25708511,NaN,NaN,10000647,MDR,LLT,10000096,Abdominal syndrome acute,3,N,NaN
4,2334,C0000729,ENG,P,L0000729,VC,S0353650,N,A25716812,NaN,NaN,10000081,MDR,LLT,10000057,Abdominal cramps,3,N,256.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112380,11068329,C5244084,ENG,P,L16308084,PF,S19795290,Y,A31790308,NaN,NaN,10055798,MDR,LLT,10084046,Severe bleeding - GUSTO classification,3,N,NaN
112381,11068331,C5244085,ENG,P,L16308140,VC,S19795001,Y,A31790861,NaN,NaN,10053315,MDR,LLT,10084469,Home isolation,3,N,NaN
112382,11068333,C5244086,ENG,P,L16307956,PF,S19794712,Y,A31789860,NaN,NaN,10084354,MDR,LLT,10084499,COVID-19 rapid POC test,3,N,NaN
112383,11068334,C5244087,ENG,P,L16308134,PF,S19794970,Y,A31790128,NaN,NaN,10063630,MDR,LLT,10083228,Genital scratch,3,N,NaN
112384,11068335,C5244088,ENG,P,L16307902,PF,S19795037,Y,A31789368,NaN,NaN,10046713,MDR,LLT,10083293,Indiana pouch,3,N,NaN

In [108]:
umls_data = umls_eng_mdr[
    ['STR', 'CODE']
].rename(columns={
    'STR': 'term', 'CODE': 'code'
})
umls_data

                                          term      code
0                                Acute abdomen  10000647
1                                Acute abdomen  10000647
2                     Syndrome abdominal acute  10042784
3                     Abdominal syndrome acute  10000096
4                             Abdominal cramps  10000057
...                                        ...       ...
112380  Severe bleeding - GUSTO classification  10084046
112381                          Home isolation  10084469
112382                 COVID-19 rapid POC test  10084499
112383                         Genital scratch  10083228
112384                           Indiana pouch  10083293

[112385 rows x 2 columns]

In [4]:
def get_MDR_code_by_CUI(CUI):
    potentials = umls_eng_mdr[umls_eng_mdr['CUI']==CUI]
    lst =  potentials['CODE'].to_list()
    return max(set(lst), key=lst.count) if len(lst) > 0 else None

get_MDR_code_by_CUI('C0043387')

10048232

# SMM4H 2017

In [5]:
path_smm4h17 = '../data/external/smm4h_2017/'

files = []
for file in os.listdir(path_smm4h17):
    print(path_smm4h17 + file)
    files.append(pd.read_csv(path_smm4h17 + file, sep='\t', header=None))
    print(files[-1].shape)
    
smm4h17 = pd.concat(files)
smm4h17 = smm4h17.rename(columns={
    1: 'term', 
    2: 'code'
})[['term', 'code']].drop_duplicates(subset=['term'])
smm4h17

../data/external/smm4h_2017/task_3_normalization_evaluation.txt
(2500, 3)
../data/external/smm4h_2017/task_3_normalization_training4.txt
(3914, 3)
../data/external/smm4h_2017/task_3_normalization_training1.txt
(1431, 3)
../data/external/smm4h_2017/task_3_normalization_training2.txt
(300, 3)
../data/external/smm4h_2017/task_3_normalization_training3.txt
(1005, 3)

                         term      code
0                    sleepier  10041349
1               dreamt colors  10000125
2                      zombie  10016322
3                    headache  10019211
4                       crazy  10061920
...                       ...       ...
988    difficult to not sleep  10020765
990              immune to it  10052804
991   broken my immune system  10021425
995      lowers immune system  10061598
1003   awake for the duration  10022437

[3630 rows x 2 columns]

# SMM4H 2021

In [6]:
path_smm4h21 = '../data/external/smm4h_2021/'

files = []
for file in os.listdir(path_smm4h17):
    print(path_smm4h17 + file)

smm4h21 = pd.read_csv('../data/external/smm4h_2021/SMM4H_2021_train_spans.tsv', sep='\t', header=None)
smm4h21 = smm4h21.rename(columns={
    4: 'term', 
    5: 'code'
})[['term', 'code']].drop_duplicates(subset=['term'])

smm4h21_tweets = pd.read_csv('../data/external/smm4h_2021/SMM4H_2021_train_tweets.tsv', sep='\t', header=None)

../data/external/smm4h_2017/task_3_normalization_evaluation.txt
../data/external/smm4h_2017/task_3_normalization_training4.txt
../data/external/smm4h_2017/task_3_normalization_training1.txt
../data/external/smm4h_2017/task_3_normalization_training2.txt
../data/external/smm4h_2017/task_3_normalization_training3.txt

In [7]:
smm4h21

                           term      code
0                     allergies  10013661
1               HURT YOUR Liver  10024668
2                            AD  10003731
3                         focus  10003738
4                          died  10011906
...                         ...       ...
1704                 chest hurt  10008479
1705   got ten minutes of sleep  10041001
1707                  Nosebleed  10029792
1709  never have another orgasm  10021574
1711        gain so much weight  10047986

[1127 rows x 2 columns]

# PsyTar

In [27]:
psytar = pd.read_excel('../data/external/PsyTAR_dataset.xlsx', sheet_name='ADR_Mapped')
psytar = psytar[psytar['type']=='ADR'][
    ['ADRs', 'UMLS1', 'SNOMED-CT', 'UMLS2', 'SNOMED-CT.1']
]

# select columns
psytar = psytar[
    ['ADRs', 'UMLS1']
]

# get CUI and term positions (may be more)
psytar['CUI'], psytar['term'] = zip(*psytar['UMLS1'].apply(lambda x: x.split('/')[:2] if len(x.split('/')) >= 2 else [x, None]))

# drop bad data
psytar = psytar[~psytar['term'].isna()]
psytar = psytar[psytar['CUI'].str[0]=='C']

# select needed columns
psytar_adrs = psytar[['ADRs', 'CUI', 'term']]
psytar_adrs['MDR'] = psytar_adrs['CUI'].progress_apply(lambda x: get_MDR_code_by_CUI(x.strip()))

# prepare raw format
psytar_adrs['term'] = psytar_adrs.apply(lambda x: [x['ADRs'], x['term']], axis=1)
psytar_adrs = psytar_adrs[
    ['term', 'MDR']
].explode('term')

psytar_adrs = psytar_adrs.rename(columns={'MDR': 'code'}).dropna()
psytar_adrs['code'] = psytar_adrs['code'].apply(lambda x: int(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4755/4755 [00:34<00:00, 136.06it/s]

In [28]:
psytar_adrs

                                           term      code
1                        short-term memory loss  10040602
1                       Poor short-term memory   10040602
2                                     hair loss  10001760
2                                     Alopecia   10001760
3     completely destroyed sexually functioning  10040477
...                                         ...       ...
4810                                   Yawning   10048232
4811         mild insomnia for the first 3 days  10022437
4811                             Sleeplessness   10022437
4812     extreme shakiness for the first 3 days  10040527
4812                                    Shakes   10040527

[7980 rows x 2 columns]

# Cadec 1

In [81]:
files = []
for file in os.listdir('../data/external/cadec1/MedDRA/'):
    try:
        files.append(pd.read_csv('../data/external/cadec1/MedDRA/' + file, sep='\t', header=None))
    except pd.errors.EmptyDataError as e:
        print(file, end=' ')
        pass
        
cadec1 = pd.concat(files, axis=0)
cadec1 = cadec1.rename(
    columns={1: 'code', 2: 'term'}
)[['term', 'code']]
cadec1['code'] = cadec1['code'].apply(lambda x: x.split(' ')[0])
cadec1 = cadec1[(cadec1['code'] != '') & (cadec1['code'].str.isdigit())]
cadec1

LIPITOR.813.ann ARTHROTEC.39.ann ARTHROTEC.40.ann LIPITOR.628.ann LIPITOR.600.ann LIPITOR.333.ann LIPITOR.383.ann ARTHROTEC.79.ann LIPITOR.40.ann ARTHROTEC.98.ann LIPITOR.752.ann LIPITOR.880.ann ZIPSOR.4.ann ARTHROTEC.106.ann LIPITOR.416.ann LIPITOR.607.ann LIPITOR.791.ann LIPITOR.296.ann LIPITOR.313.ann LIPITOR.329.ann FLECTOR.1.ann LIPITOR.644.ann LIPITOR.438.ann VOLTAREN-XR.11.ann LIPITOR.560.ann VOLTAREN.36.ann LIPITOR.830.ann ARTHROTEC.11.ann ARTHROTEC.84.ann LIPITOR.664.ann LIPITOR.984.ann LIPITOR.741.ann VOLTAREN.26.ann LIPITOR.487.ann LIPITOR.829.ann LIPITOR.696.ann LIPITOR.942.ann VOLTAREN-XR.7.ann LIPITOR.924.ann SOLARAZE.1.ann LIPITOR.788.ann LIPITOR.862.ann LIPITOR.993.ann ARTHROTEC.55.ann LIPITOR.308.ann VOLTAREN.29.ann VOLTAREN.19.ann LIPITOR.21.ann PENNSAID.1.ann VOLTAREN-XR.9.ann LIPITOR.285.ann ARTHROTEC.129.ann VOLTAREN.42.ann LIPITOR.528.ann ARTHROTEC.145.ann LIPITOR.4.ann LIPITOR.516.ann LIPITOR.252.ann LIPITOR.41.ann LIPITOR.871.ann LIPITOR.351.ann LIPITOR.444.ann LIPITOR.916.ann LIPITOR.864.ann LIPITOR.547.ann LIPITOR.409.ann LIPITOR.881.ann LIPITOR.894.ann LIPITOR.828.ann LIPITOR.636.ann LIPITOR.549.ann LIPITOR.565.ann LIPITOR.895.ann LIPITOR.608.ann LIPITOR.424.ann LIPITOR.601.ann DICLOFENAC-POTASSIUM.2.ann LIPITOR.783.ann ARTHROTEC.139.ann LIPITOR.787.ann LIPITOR.529.ann LIPITOR.768.ann LIPITOR.373.ann LIPITOR.372.ann LIPITOR.938.ann SOLARAZE.3.ann LIPITOR.37.ann CAMBIA.1.ann LIPITOR.919.ann LIPITOR.860.ann VOLTAREN-XR.6.ann VOLTAREN-XR.13.ann PENNSAID.2.ann LIPITOR.609.ann VOLTAREN-XR.17.ann LIPITOR.5.ann ARTHROTEC.5.ann LIPITOR.404.ann ARTHROTEC.136.ann ARTHROTEC.54.ann LIPITOR.952.ann LIPITOR.714.ann LIPITOR.16.ann LIPITOR.267.ann LIPITOR.625.ann LIPITOR.550.ann LIPITOR.489.ann LIPITOR.437.ann LIPITOR.958.ann ARTHROTEC.102.ann ARTHROTEC.91.ann LIPITOR.243.ann PENNSAID.4.ann LIPITOR.637.ann LIPITOR.855.ann LIPITOR.28.ann LIPITOR.930.ann LIPITOR.857.ann LIPITOR.680.ann LIPITOR.188.ann LIPITOR.525.ann VOLTAREN-XR.10.ann LIPITOR.382.ann LIPITOR.62.ann ZIPSOR.5.ann DICLOFENAC-POTASSIUM.1.ann LIPITOR.759.ann LIPITOR.127.ann LIPITOR.299.ann VOLTAREN-XR.15.ann LIPITOR.150.ann LIPITOR.674.ann LIPITOR.677.ann LIPITOR.964.ann LIPITOR.49.ann LIPITOR.802.ann LIPITOR.960.ann ARTHROTEC.48.ann LIPITOR.47.ann LIPITOR.577.ann VOLTAREN-XR.4.ann LIPITOR.510.ann LIPITOR.197.ann

                                      term      code
0                             Muscle aches  10028411
2                                     pain  10033371
3                        heaviness in eyes  10016008
4                                 eye pain  10015958
1                                     pain  10033371
..                                     ...       ...
4                                 leg pain  10033473
5                               discomfort  10013092
6          impaired my ability to exercise  10065629
7   impaired my ability to take long walks  10065629
8                          leg muscle pain  10028411

[5964 rows x 2 columns]

# Cadec 2

In [103]:
files = []
for file in os.listdir('../data/external/cadec2/cadec/meddra/'):
    try:
        files.append(pd.read_csv('../data/external/cadec2/cadec/meddra/' + file, sep='\t', header=None))
    except pd.errors.EmptyDataError as e:
        print(file, end=' ')
        pass
        
cadec2 = pd.concat(files, axis=0)
cadec2 = cadec2.rename(
    columns={1: 'code', 2: 'term'}
)[['term', 'code']].dropna()
cadec2['code'] = cadec2['code'].apply(lambda x: x.split(' ')[0])
cadec2 = cadec2[(cadec2['code'] != '') & (cadec2['code'].str.isdigit())]
cadec2

ARTHROTEC.39.ann ARTHROTEC.40.ann LIPITOR.628.ann LIPITOR.600.ann LIPITOR.333.ann LIPITOR.383.ann ARTHROTEC.79.ann LIPITOR.40.ann ARTHROTEC.98.ann ARTHROTEC.106.ann LIPITOR.416.ann LIPITOR.607.ann LIPITOR.296.ann LIPITOR.313.ann LIPITOR.329.ann FLECTOR.1.ann LIPITOR.644.ann LIPITOR.438.ann LIPITOR.560.ann ARTHROTEC.11.ann ARTHROTEC.84.ann LIPITOR.487.ann ARTHROTEC.55.ann LIPITOR.308.ann LIPITOR.21.ann LIPITOR.285.ann ARTHROTEC.129.ann LIPITOR.528.ann ARTHROTEC.145.ann LIPITOR.4.ann LIPITOR.516.ann LIPITOR.252.ann LIPITOR.41.ann LIPITOR.351.ann LIPITOR.444.ann LIPITOR.547.ann LIPITOR.409.ann LIPITOR.636.ann LIPITOR.549.ann LIPITOR.565.ann LIPITOR.608.ann LIPITOR.424.ann LIPITOR.601.ann DICLOFENAC-POTASSIUM.2.ann ARTHROTEC.139.ann LIPITOR.529.ann LIPITOR.373.ann LIPITOR.372.ann LIPITOR.37.ann CAMBIA.1.ann LIPITOR.609.ann LIPITOR.5.ann ARTHROTEC.5.ann LIPITOR.404.ann ARTHROTEC.136.ann ARTHROTEC.54.ann LIPITOR.16.ann LIPITOR.267.ann LIPITOR.625.ann LIPITOR.550.ann LIPITOR.489.ann LIPITOR.437.ann ARTHROTEC.102.ann ARTHROTEC.91.ann LIPITOR.243.ann LIPITOR.637.ann LIPITOR.28.ann LIPITOR.188.ann LIPITOR.525.ann LIPITOR.382.ann LIPITOR.62.ann DICLOFENAC-POTASSIUM.1.ann LIPITOR.127.ann LIPITOR.299.ann LIPITOR.150.ann LIPITOR.49.ann ARTHROTEC.48.ann LIPITOR.47.ann LIPITOR.577.ann LIPITOR.510.ann LIPITOR.197.ann

                        term      code
0               Muscle aches  10028411
1   Vision severe impairment  10036792
2                       pain  10033371
3          heaviness in eyes  10016008
4                   eye pain  10015958
..                       ...       ...
1            lower back pain  10024891
2                   diarrhea  10012735
3         heart palpitations  10033557
4           vaginal bleeding  10046883
5                       pain  10033371

[3932 rows x 2 columns]

# save data 

tables:
- umls_data
- smm4h17
- smm4h21
- psytar_adrs
- cadec1
- cadec2

In [109]:
umls_data['from'] = 'umls'
smm4h17['from'] = 'smm4h17'
smm4h21['from'] = 'smm4h21'
psytar_adrs['from'] = 'psytar_adrs'
cadec1['from'] = 'cadec1'
cadec2['from'] = 'cadec2'

In [116]:
tables_summary = [
    umls_data, smm4h17, smm4h21, psytar_adrs, cadec1, cadec2
]
final_table = pd.concat(tables_summary).drop_duplicates('term')
final_table.to_csv('../data/interim/terms_and_codes.csv')