In [1]:
import os

import numpy as np
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

In [2]:
! ls /home/alexkay/MEPHI_04/MagistryDissertation/MedConcNorm/data/external/

ls: cannot access /home/alexkay/MEPHI_04/MagistryDissertation/MedConcNorm/data/external/: No such file or directory

# UMLS base (micro)

In [3]:
umls_eng_mdr = pd.read_csv('../data/external/MRCONSO_ENG_MDR.csv')
umls_eng_mdr

,Unnamed: 0,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,2276,C0000727,ENG,P,L0000727,VCW,S0584932,N,A0639292,NaN,NaN,10000647,MDR,PT,10000647,Acute abdomen,3,N,256.0
1,2282,C0000727,ENG,P,L0000727,VCW,S0584932,N,A25741630,NaN,NaN,10000647,MDR,LLT,10000647,Acute abdomen,3,N,256.0
2,2296,C0000727,ENG,S,L0161339,PF,S1616740,Y,A25720821,NaN,NaN,10000647,MDR,LLT,10042784,Syndrome abdominal acute,3,N,NaN
3,2299,C0000727,ENG,S,L0161339,VCW,S1616739,Y,A25708511,NaN,NaN,10000647,MDR,LLT,10000096,Abdominal syndrome acute,3,N,NaN
4,2334,C0000729,ENG,P,L0000729,VC,S0353650,N,A25716812,NaN,NaN,10000081,MDR,LLT,10000057,Abdominal cramps,3,N,256.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112380,11068329,C5244084,ENG,P,L16308084,PF,S19795290,Y,A31790308,NaN,NaN,10055798,MDR,LLT,10084046,Severe bleeding - GUSTO classification,3,N,NaN
112381,11068331,C5244085,ENG,P,L16308140,VC,S19795001,Y,A31790861,NaN,NaN,10053315,MDR,LLT,10084469,Home isolation,3,N,NaN
112382,11068333,C5244086,ENG,P,L16307956,PF,S19794712,Y,A31789860,NaN,NaN,10084354,MDR,LLT,10084499,COVID-19 rapid POC test,3,N,NaN
112383,11068334,C5244087,ENG,P,L16308134,PF,S19794970,Y,A31790128,NaN,NaN,10063630,MDR,LLT,10083228,Genital scratch,3,N,NaN
112384,11068335,C5244088,ENG,P,L16307902,PF,S19795037,Y,A31789368,NaN,NaN,10046713,MDR,LLT,10083293,Indiana pouch,3,N,NaN

In [4]:
umls_data = umls_eng_mdr[
    ['STR', 'CODE']
].rename(columns={
    'STR': 'term', 'CODE': 'code'
})
umls_data

                                          term      code
0                                Acute abdomen  10000647
1                                Acute abdomen  10000647
2                     Syndrome abdominal acute  10042784
3                     Abdominal syndrome acute  10000096
4                             Abdominal cramps  10000057
...                                        ...       ...
112380  Severe bleeding - GUSTO classification  10084046
112381                          Home isolation  10084469
112382                 COVID-19 rapid POC test  10084499
112383                         Genital scratch  10083228
112384                           Indiana pouch  10083293

[112385 rows x 2 columns]

In [5]:
def get_MDR_code_by_CUI(CUI):
    potentials = umls_eng_mdr[umls_eng_mdr['CUI']==CUI]
    lst =  potentials['CODE'].to_list()
    return max(set(lst), key=lst.count) if len(lst) > 0 else None

get_MDR_code_by_CUI('C0043387')

10048232

# SMM4H 2017

In [6]:
path_smm4h17 = '../data/external/smm4h_2017/'

files = []
for file in os.listdir(path_smm4h17):
    print(path_smm4h17 + file)
    files.append(pd.read_csv(path_smm4h17 + file, sep='\t', header=None))
    print(files[-1].shape)
    
smm4h17 = pd.concat(files)
smm4h17 = smm4h17.rename(columns={
    1: 'term', 
    2: 'code'
})[['term', 'code']].drop_duplicates(subset=['term'])
smm4h17

../data/external/smm4h_2017/task_3_normalization_evaluation.txt
(2500, 3)
../data/external/smm4h_2017/task_3_normalization_training1.txt
(1431, 3)
../data/external/smm4h_2017/task_3_normalization_training2.txt
(300, 3)
../data/external/smm4h_2017/task_3_normalization_training3.txt
(1005, 3)
../data/external/smm4h_2017/task_3_normalization_training4.txt
(3914, 3)

                                     term      code
0                                sleepier  10041349
1                           dreamt colors  10000125
2                                  zombie  10016322
3                                headache  10019211
4                                   crazy  10061920
...                                   ...       ...
3893                    never wanna sleep  10022437
3900  eventful movie night in your dreams  10000125
3901                    made me cry a lot  10011469
3902              from only 3hrs of sleep  10022437
3906                   feel like sleeping  10041349

[3630 rows x 2 columns]

# SMM4H 2021

In [7]:
path_smm4h21 = '../data/external/smm4h_2021/'

files = []
# for file in os.listdir(path_smm4h17):
#     print(path_smm4h17 + file)

smm4h21 = pd.read_csv('../data/external/smm4h_2021/SMM4H_2021_train_spans.tsv', sep='\t', header=None)
smm4h21 = smm4h21.rename(columns={
    4: 'term', 
    5: 'code'
})[['term', 'code']].drop_duplicates(subset=['term'])

#smm4h21_tweets = pd.read_csv('../data/external/smm4h_2021/SMM4H_2021_train_tweets.tsv', sep='\t', header=None)
smm4h21

                           term      code
0                     allergies  10013661
1               HURT YOUR Liver  10024668
2                            AD  10003731
3                         focus  10003738
4                          died  10011906
...                         ...       ...
1704                 chest hurt  10008479
1705   got ten minutes of sleep  10041001
1707                  Nosebleed  10029792
1709  never have another orgasm  10021574
1711        gain so much weight  10047986

[1127 rows x 2 columns]

In [9]:
a = pd.concat([smm4h17, smm4h21]).drop_duplicates('term')
a

                                         term      code
0                                    sleepier  10041349
1                               dreamt colors  10000125
2                                      zombie  10016322
3                                    headache  10019211
4                                       crazy  10061920
...                                       ...       ...
1468                   knock me the fuck out   10024855
1517                   sleeping 18 hrs a day   10011865
1532                                  tremors  10044565
1598  brain feels like its actually vibrating  10033775
1686                          think too much   10067192

[3880 rows x 2 columns]

In [12]:
'213'.isdigit()

True

In [11]:
a['code'].unique()

array(['10041349', '10000125', '10016322', '10019211', '10061920',
       '10019133', '10015535', '10047700', '10048010', '10044565',
       '10011469', '10016256', '10024796', '10040984', '10047895',
       '10022437', '10013911', '10029412', '10037844', '10043087',
       '10016330', '10002855', '10029148', '10020937', '10037211',
       '10016334', '10033371', '10037660', '10021030', '10039906',
       '10048779', '10047899', '10012735', '10058920', '10025482',
       '10033775', '10020765', '10000081', '10027590', '10042458',
       '10015090', '10013457', '10033557', '10056264', '10061428',
       '10020466', '10052805', '10013781', '10058672', '10028596',
       '10027599', '10042772', '10010071', '10042496', '10016344',
       '10020642', '10028813', '10048232', '10062519', '10006514',
       '10041002', '10013573', '10003549', '10005885', '10029202',
       '10020751', '10040477', '10044055', '10013663', '10043458',
       '10004716', '10000497', '10028411', '10019070', '10012378',
       '10040753', '10002368', '10013786', '10010305', '10051602',
       '10033864', '10067484', '10022998', '10001540', '10012174',
       '10027175', '10001497', '10013709', '10017367', '10024264',
       '10047513', '10039897', '10016759', '10026749', '10024419',
       '10029410', '10027374', '10065687', '10054964', '10047340',
       '10052137', '10009866', '10052804', '10052251', '10022067',
       '10017577', '10042674', '10047571', '10061461', '10029223',
       '10048948', '10003988', '10015137', '10021654', '10055798',
       '10022086', '10016338', '10012110', '10014184', '10014698',
       '10013968', '10005169', '10046306', '10038460', '10037087',
       '10005734', '10000059', '10003402', '10012601', '10017062',
       '10062016', '10034568', '10000087', '10038428', '10013946',
       '10043431', '10028334', '10052904', '10028347', '10043242',
       '10019063', '10015150', '10027951', '10046735', '10021417',
       '10028024', '10033670', '10020651', '10028740', '10061822',
       '10000496', '10000269', '10036653', '10022004', '10006326',
       '10041052', '10033425', '10003239', '10013036', '10042945',
       '10027199', '10002034', '10042209', '10042033', '10067125',
       '10016825', '10015946', '10002942', '10041466', '10066371',
       '10023230', '10001488', '10016173', '10042264', '10013753',
       '10043071', '10034972', '10016326', '10008531', '10064805',
       '10068319', '10017533', '10041347', '10043607', '10024421',
       '10028391', '10033664', '10053615', '10019303', '10040872',
       '10029898', '10012374', '10040914', '10023874', '10047461',
       '10040108', '10044027', '10048959', '10050637', '10034719',
       '10046571', '10014551', '10041953', '10050584', '10052437',
       '10005557', '10052143', '10038743', '10028521', '10039792',
       '10001760', '10008479', '10017076', '10072005', '10030180',
       '10019075', '10045178', '10050014', '10013496', '10028836',
       '10038435', '10023379', '10034721', '10001949', '10049119',
       '10013990', '10020610', '10020772', '10005159', '10017944',
       '10024552', '10043268', '10011224', '10003246', '10027566',
       '10043882', '10048533', '10043255', '10022000', '10047924',
       '10043495', '10005780', '10013983', 'MEDDRA PT', '10043521',
       '10001480', '10025197', '10013642', '10040831', '10002652',
       '10013887', '10043248', '10024870', '10015916', 10013663, 10022524,
       10012218, 10022998, 10027175, 10024264, 10061428, 10033557,
       10061598, 10011401, 10057667, 10016256, 10028735, 10033371,
       10020765, 10043248, 10041349, 10022437, 10033799, 10044565,
       10021972, 10028391, 10000125, 10039626, 10001480, 10024419,
       10013968, 10048232, 10003736, 10003246, 10029898, 10027374,
       10054196, 10012422, 10017600, 10014326, 10025482, 10053204,
       10019009, 10061461, 10021654, 10033645, 10005780, 10020751,
       10002652, 10033425, 10015137, 10048948, 10001496, 10028245,
       10023163, 10016330, 10012378, 10008399, 10020466, 10003239,
       10020651, 10016326, 10005750, 10013781, 10048010, 10016322,
       10060800, 10055798, 10047899, 10061920, 10028836, 10014551,
       10005734, 10029412, 10042945, 10064805, 10017853, 10013573,
       10021097, 10005159, 10052897, 10039424, 10028330, 10020642,
       10004716, 10047513, 10013916, 10042458, 10007737, 10003988,
       10037660, 10070863, 10002368, 10042033, 10012174, 10000087,
       10053615, 10016717, 10028347, 10010774, 10025082, 10031085,
       10012239, 10001949, 10030124, 10003549, 10002942, 10057668,
       10046571, 10043521, 10012735, 10011906, 10033664, 10016807,
       10047895, 10043087, 10006784, 10028813, 10049816, 10016275,
       10052804, 10033775, 10058920, 10038743, 10001760, 10037686,
       10067484, 10037153, 10048294, 10007515, 10024796, 10029216,
       10043945, 10017944, 10006326, 10044044, 10001598, 10056465,
       10027951, 10030095, 10043431, 10004939, 10006242, 10068318,
       10026749, 10034719, 10070488, 10005555, 10000059, 10043242,
       10013082, 10020937, 10029897, 10019303, 10016279, 10008479,
       10000060, 10015535, 10011224, 10016759, 10029202, 10043220,
       10037844, 10028334, 10028372, 10061422, 10062519, 10020772,
       10043882, 10009696, 10002855, 10027599, 10040030, 10012397,
       10012601, 10010071, 10052904, 10034972, 10039897, 10058672,
       10058467, 10019211, 10048959, 10040984, 10004940, 10013496,
       10034018, 10038683, 10015150, 10044034, 10036653, 10029223,
       10036661, 10024870, 10013887, 10051265, 10036155, 10054938,
       10010305, 10007880, 10066371, 10013946, 10021789, 10037999,
       10052087, 10066218, 10013754, 10028740, 10050012, 10008531,
       10037087, 10046543, 10061664, 10029719, 10042209, 10016825,
       10039740, 10049460, 10016334, 10013710, 10000496, 10013050,
       10061814, 10042264, 10061218, 10029883, 10057371, 10043528,
       10021030, 10024968, 10028521, 10028411, 10067125, 10047700,
       10043071, 10003591, 10019063, 10009657, 10006514, 10047531,
       10041010, 10017577, 10073508, 10027940, 10015090, 10011762,
       10050014, 10039906, 10003119, 10028596, 10043757, 10036018,
       10019075, 10061087, 10009192, 10013774, 10038428, 10015037,
       10010264, 10024855, 10018304, 10019070, 10033546, 10036596,
       10038001, 10041347, 10041247, 10040753, 10006002, 10011469,
       10013033, 10002199, 10036316, 10049119, 10022955, 10013678,
       10035664, 10062016, 10005169, 10040914, 10052136, 10023232,
       10050584, 10019468, 10013911, 10053155, 10022093, 10017367,
       10022095, 10022078, 10061822, 10022067, 10000081, 10046735,
       10022004, 10045285, 10070835, 10058097, 10059837, 10001488,
       10017888, 10022699, 10013786, 10033109, 10015958, 10022086,
       10017999, 10004661, 10021688, 10065553, 10052840, 10015943,
       10018267, 10020993, 10054106, 10028641, 10003402, 10061590,
       10024670, 10021328, 10018797, 10005619, 10043942, 10061284,
       10022081, 10039101, 10005956, 10019133, 10029547, 10047115,
       10019974, 10060961, 10008469, 10021425, 10029331, 10048886,
       10065048, 10050819, 10015108, 10042674, 10048706, 10016173,
       10023230, 10037867, 10024130, 10028289, 10017918, 10041232,
       10049848, 10022056, 10033474, 10018830, 10022071, 10034263,
       10040744, 10030216, 10013709, 10048779, 10038776, 10014928,
       10018276, 10047340, 10027590, 10034829, 10066241, 10021113,
       10071275, 10019079, 10008398, 10042604, 10037211, 10052251,
       10042682, 10002820, 10020400, 10012259, 10013642, 10043268,
       10047924, 10005557, 10029410, 10005885, 10003778, 10021118,
       10057372, 10001497, 10047482, 10041045, 10029404, 10034567,
       10024421, 10061762, 10013395, 10016352, 10037249, 10042772,
       10013789, 10040477, 10043255, 10013753, 10043833, 10061129,
       10016766, 10057342, 10041953, 10013538, 10061215, 10030973,
       10038669, 10021333, 10063927, 10034839, 10027566, 10027433,
       10021417, 10055082, 10037884, 10048908, 10012110, 10003553,
       10043607, 10014020, 10038490, 10038435, 10024552, 10005746,
       10056264, 10022490, 10042444, 10013457, 10042464, 10001639,
       10041002, 10010947, 10013990, 10018386, 10002511, 10000497,
       10020853, 10065687, 10013578, 10052066, 10001584, 10049713,
       10033771, 10018687, 10040742, 10012374, 10040829, 10017885,
       10052805, 10031009, 10049118, 10006451, 10007541, 10027295,
       10022094, 10047571, 10003658, 10052793, 10040991, 10048768,
       10015926, '10021345', '10047508', '10059272', '10063006',
       '10028322', '10041014', '10019158', '10028045', '10024262',
       '10016335', '10012359', '10041017', '10028339', '10024919',
       '10016364', '10011865', '10013710', '10043169', '10023222',
       '10016370', '10013754', '10018730', '10040530', '10047896',
       '10040999', '10012792', '10047810', '10020554', '10010300',
       '10067192', '10048602', '10047862', '10067843', '10043134',
       '10056484', '10071175', '10016340', '10062375', '10027372',
       '10013746', '10003785', '10016374', '10040558', '10056465',
       '10012398', '10049278', '10013050', '10015598', '10074073',
       '10040604', '10019297', '10039626', '10019364', '10016876',
       '10014560', '10020965', '10047522', '10007636', '10021681',
       '10019045', '10047626', '10006956', '10068111', '10079024',
       '10033431', '10041049', '10016791', '10028006', '10038742',
       '10023211', '10045319', '10046600', '10005264', '10028822',
       '10010219', '10040617', '10058726', '10044126', '10020467',
       '10043900', '10024890', '10016365', '10033499', '10033421', '-',
       '10029298', '10014554', '10052066', '10064160', '10015667',
       '10003978', '10033432', '10022989', '10037234', '10015595',
       '10070679', '10058683', '10063053', '10037804', '10027348',
       '10050007', '10000424', '10007216', '10025082', '10042165',
       '10061758', '10049183', '10047516', '10001639', '10038744',
       '10017375', '10023091', '10006774', '10001718', '10035805',
       '10024492', '10043439', '10021425', '10023094', '10043890',
       '10022876', '10045148', '10013767', '10073281', '10038741',
       '10061230', '10048013', '10036155', '10041470', '10024855'],
      dtype=object)

# PsyTar

In [ ]:
psytar = pd.read_excel('../data/external/PsyTAR_dataset.xlsx', sheet_name='ADR_Mapped')
psytar = psytar[psytar['type']=='ADR'][
    ['ADRs', 'UMLS1', 'SNOMED-CT', 'UMLS2', 'SNOMED-CT.1']
]

# select columns
psytar = psytar[
    ['ADRs', 'UMLS1']
]

# get CUI and term positions (may be more)
psytar['CUI'], psytar['term'] = zip(*psytar['UMLS1'].apply(lambda x: x.split('/')[:2] if len(x.split('/')) >= 2 else [x, None]))

# drop bad data
psytar = psytar[~psytar['term'].isna()]
psytar = psytar[psytar['CUI'].str[0]=='C']

# select needed columns
psytar_adrs = psytar[['ADRs', 'CUI', 'term']]
psytar_adrs['MDR'] = psytar_adrs['CUI'].progress_apply(lambda x: get_MDR_code_by_CUI(x.strip()))

# prepare raw format
psytar_adrs['term'] = psytar_adrs.apply(lambda x: [x['ADRs'], x['term']], axis=1)
psytar_adrs = psytar_adrs[
    ['term', 'MDR']
].explode('term')

psytar_adrs = psytar_adrs.rename(columns={'MDR': 'code'}).dropna()
psytar_adrs['code'] = psytar_adrs['code'].apply(lambda x: int(x))

In [ ]:
psytar_adrs

# Cadec 1

In [ ]:
files = []
for file in os.listdir('../data/external/cadec1/MedDRA/'):
    try:
        files.append(pd.read_csv('../data/external/cadec1/MedDRA/' + file, sep='\t', header=None))
    except pd.errors.EmptyDataError as e:
        print(file, end=' ')
        pass
        
cadec1 = pd.concat(files, axis=0)
cadec1 = cadec1.rename(
    columns={1: 'code', 2: 'term'}
)[['term', 'code']]
cadec1['code'] = cadec1['code'].apply(lambda x: x.split(' ')[0])
cadec1 = cadec1[(cadec1['code'] != '') & (cadec1['code'].str.isdigit())]
cadec1

# Cadec 2

In [ ]:
files = []
for file in os.listdir('../data/external/cadec2/cadec/meddra/'):
    try:
        files.append(pd.read_csv('../data/external/cadec2/cadec/meddra/' + file, sep='\t', header=None))
    except pd.errors.EmptyDataError as e:
        print(file, end=' ')
        pass
        
cadec2 = pd.concat(files, axis=0)
cadec2 = cadec2.rename(
    columns={1: 'code', 2: 'term'}
)[['term', 'code']].dropna()
cadec2['code'] = cadec2['code'].apply(lambda x: x.split(' ')[0])
cadec2 = cadec2[(cadec2['code'] != '') & (cadec2['code'].str.isdigit())]
cadec2

# save data 

tables:
- umls_data
- smm4h17
- smm4h21
- psytar_adrs
- cadec1
- cadec2

In [ ]:
umls_data['from'] = 'umls'
smm4h17['from'] = 'smm4h17'
smm4h21['from'] = 'smm4h21'
psytar_adrs['from'] = 'psytar_adrs'
cadec1['from'] = 'cadec1'
cadec2['from'] = 'cadec2'

In [ ]:
tables_summary = [
    umls_data, smm4h17, smm4h21, psytar_adrs, cadec1, cadec2
]
final_table = pd.concat(tables_summary).drop_duplicates('term')
final_table.to_csv('../data/interim/terms_and_codes.csv')

In [ ]:
final = final_table.drop_duplicates('term')

In [ ]:
final.shape, final['code'].unique().shape