In [1]:
import re
import pandas as pd
import numpy as np
import os
from copy import copy
from sklearn.model_selection import train_test_split

In [2]:
from tqdm import tqdm
tqdm.pandas()

import sys
sys.path.append(f'../../')

from src.features.parallelize import apply_parallel

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
def concat_and_explode_syn(df):
    df['term'] = df.apply(
        #lambda row: [row['STR']] + [i for i in list(set(eval(row['SNMS'])))[:3] if i.lower() != row['STR'].lower()], axis=1)
        lambda row: [row['STR']] + [i for i in list(set(eval(row['SNMS'])))[:3] if i.lower() != row['STR'].lower()], axis=1)
    return df

def concat_and_explode(df):
    df['term'] = df.apply(
        lambda row: [row['STR']], axis=1)
    return df

In [5]:
mdr_codes_to_exp = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_codes_to_exp = mdr_codes_to_exp[['STR', 'SNMS', 'CODE']]
mdr_codes_to_exp = apply_parallel(mdr_codes_to_exp, concat_and_explode)
mdr_codes_to_exp = mdr_codes_to_exp.explode('term')[['term', 'CODE']].rename(columns={'CODE': 'code'})
mdr_codes_to_exp

                                             term      code
0                         Ventilation pneumonitis  10000001
1                  11-beta-hydroxylase deficiency  10000002
2                     11-oxysteroid activity incr  10000003
3                11-oxysteroid activity increased  10000004
4                           17 ketosteroids urine  10000005
...                                           ...       ...
84208                   Infective pneumonia (SMQ)  20000231
84209                           Dehydration (SMQ)  20000232
84210  ['Hypokalaemia (SMQ)' 'Hypokalemia (SMQ)']  20000233
84211                                Sepsis (SMQ)  20000234
84212              Opportunistic infections (SMQ)  20000235

[84213 rows x 2 columns]

In [6]:
mdr_codes_to_exp = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_codes_to_exp = mdr_codes_to_exp[['STR', 'SNMS', 'CODE']]
mdr_codes_to_exp = apply_parallel(mdr_codes_to_exp, concat_and_explode_syn)
mdr_codes_to_exp = mdr_codes_to_exp.explode('term')[['term', 'CODE']].rename(columns={'CODE': 'code'})
mdr_codes_to_exp

                                              term      code
0                          Ventilation pneumonitis  10000001
0                             Air conditioner lung  10000001
0                                Sauna takers lung  10000001
0      Humidifier and air conditioning pneumonitis  10000001
1                   11-beta-hydroxylase deficiency  10000002
...                                            ...       ...
84208                    Infective pneumonia (SMQ)  20000231
84209                            Dehydration (SMQ)  20000232
84210   ['Hypokalaemia (SMQ)' 'Hypokalemia (SMQ)']  20000233
84211                                 Sepsis (SMQ)  20000234
84212               Opportunistic infections (SMQ)  20000235

[188657 rows x 2 columns]

In [7]:
import re

def clearing(x):
    x = re.sub('\[.*\]', '', x)
    x = re.sub('\(.*\)', '', x)
    x = re.sub('-.*-', '', x)
    x = x.replace('%', 'percent')
    x = x.replace(':', '')
    for abb in ['NOS', 'HOH', 'URS', 'AAOOR']:
        x = x.replace(abb, '')
    x = x.strip()
    return x

mdr_codes_to_exp['term'] = mdr_codes_to_exp['term'].apply(lambda x: clearing(x))
mdr_codes_to_exp = mdr_codes_to_exp.drop_duplicates()
mdr_codes_to_exp = mdr_codes_to_exp[mdr_codes_to_exp['term'] != '']
mdr_codes_to_exp

                                                    term      code
0                                Ventilation pneumonitis  10000001
0                                   Air conditioner lung  10000001
0                                      Sauna takers lung  10000001
0            Humidifier and air conditioning pneumonitis  10000001
1                               11hydroxylase deficiency  10000002
...                                                  ...       ...
84207  ['Non-haematological tumours of unspecified ma...  20000230
84208                                Infective pneumonia  20000231
84209                                        Dehydration  20000232
84211                                             Sepsis  20000234
84212                           Opportunistic infections  20000235

[155824 rows x 2 columns]

In [8]:
all_used_codes_cadec.shape, all_used_codes_psytar.shape, all_used_codes_smm4h21.shape, all_used_codes_smm4h17.shape

NameError: name 'all_used_codes_cadec' is not defined

In [ ]:
used_codes = np.concatenate([
    all_used_codes_cadec, all_used_codes_psytar, all_used_codes_smm4h21, all_used_codes_smm4h17
]) #.shape
used_codes.shape

In [ ]:
np.unique(used_codes).shape

In [ ]:
mdr_codes_to_exp = mdr_codes_to_exp[mdr_codes_to_exp['code'].isin(np.unique(used_codes))]

In [ ]:
mdr_codes_to_exp = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv').rename(columns={'CODE': 'code'})
mdr_codes_to_exp.to_csv('../../data/interim/used_codes_big.csv')

In [ ]:
mdr_codes_to_exp = mdr_codes_to_exp[mdr_codes_to_exp['code'].isin(np.unique(used_codes))]
mdr_codes_to_exp.to_csv('../../data/interim/used_codes.csv')

# SMM4H 2021

In [69]:
smm4h21_spans_train = pd.read_csv('../../data/external/smm4h_2021/SMM4H_2021_train_spans.tsv', sep='\t', header=None)
smm4h21_tweets_train = pd.read_csv('../../data/external/smm4h_2021/SMM4H_2021_train_tweets.tsv', sep='\t', header=None)
smm4h21_train = smm4h21_spans_train.merge(smm4h21_tweets_train, on=0)

In [70]:
smm4h21_spans_val = pd.read_csv('../../data/external/smm4h_2021/SMM4H_2021_val_spans.tsv', sep='\t', header=None)
smm4h21_tweets_val = pd.read_csv('../../data/external/smm4h_2021/SMM4H_2021_val_tweets.tsv', sep='\t', header=None)
smm4h21_val = smm4h21_spans_val.merge(smm4h21_tweets_val, on=0)

In [71]:
mdr_codes = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_cod_to_norm = mdr_codes[['CODE', 'STR', 'SNMS']]

In [72]:
# TRAIN
smm4h21_train = smm4h21_train.rename(columns={
    4: 'term', '1_y': 'text',
    2: 'start', 3: 'end',
    5: 'code'
})

smm4h21_train = smm4h21_train[['term', 'start', 'end', 'text', 'code']]
smm4h21_train = smm4h21_train[smm4h21_train['code'].str.isdigit()]
smm4h21_train['code'] = smm4h21_train['code'].astype(int)


smm4h21_train = pd.merge(smm4h21_train, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
smm4h21_train = smm4h21_train.drop(columns=['CODE'])


# VALIDATION
smm4h21_val = smm4h21_val.rename(columns={
    4: 'term', '1_y': 'text',
    2: 'start', 3: 'end',
    5: 'code'
})

smm4h21_val = smm4h21_val[['term', 'start', 'end', 'text', 'code']]
smm4h21_val = smm4h21_val[smm4h21_val['code'].str.isdigit()]
smm4h21_val['code'] = smm4h21_val['code'].astype(int)
smm4h21_val = pd.merge(smm4h21_val, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
smm4h21_val = smm4h21_val.drop(columns=['CODE'])

In [73]:
from sklearn.utils import shuffle
smm4h21_train = shuffle(smm4h21_train)

n = 200
smm4h21_val = pd.concat([smm4h21_val, smm4h21_train.iloc[-n:]])
smm4h21_train = smm4h21_train.iloc[:-n]
smm4h21_train.shape, smm4h21_val.shape

((1512, 7), (287, 7))

In [74]:
smm4h21_val.head(5)

                  term start  end                                               text      code            STR                                               SNMS
0               nerves   119  125  @crohnietweets i found the humira to fix all m...  10029177   Nerve damage  ['Nerve injury', 'Nerve injury', 'Nerve injury...
1        muscle spasms   126  139  @crohnietweets i found the humira to fix all m...  10028334  Muscle spasms  ['Spasm', 'Spasm, NOS', 'Muscle spasm', 'Muscl...
2              gaining    61   68  @jennabear32819 have to go to a doc now to see...  10047896    Weight gain  ['Weight gain', 'Weight gain', 'Increased body...
3  gain like 50 pounds    91  110  @jennabear32819 have to go to a doc now to see...  10047896    Weight gain  ['Weight gain', 'Weight gain', 'Increased body...
4     frontal headache   118  134  06.30 day 14 Rivaroxaban diary. Thanks to para...  10019211       Headache  ['Headache', 'Headache', 'Headache', 'Headache...

In [75]:
smm4h21_train_ex = pd.concat([smm4h21_train, mdr_codes_to_exp])
smm4h21_train_ex

                                                    term  start    end                                               text      code                 STR                                               SNMS
1127                                                hurt  110.0  114.0  @thebeachynurse ...had to get an x-ray of my a...  10033371                Pain  ['Pain', 'Pain', 'Pain', 'Pain', 'Pain', 'Pain...
486                                               zombie  121.0  127.0  this lamictal shit ain't cuttin the mustard; a...  10016384  Felt like a zombie                                                 []
1186                                            STARVING   29.0   37.0             lamictal withdrawal update:  starving!  10020466              Hunger  ['Hunger', 'Hunger, NOS', 'Feeding drive', 'Fo...
1367                                              scared   44.0   50.0  so apparently 60mgs of prozac will make you sc...  10016275                Fear  ['Fear', 'Fear', 'Fear', 'Fear', 'Fear', 'Fear...
397                                               sweats   74.0   80.0  Does anyone on #tysabri get flu Iike symptoms,...  10042661            Sweating  ['Sweating', 'Sweating', 'Sweating', 'Sweating...
...                                                  ...    ...    ...                                                ...       ...                 ...                                                ...
84207  ['Non-haematological tumours of unspecified ma...    NaN    NaN                                                NaN  20000230                 NaN                                                NaN
84208                                Infective pneumonia    NaN    NaN                                                NaN  20000231                 NaN                                                NaN
84209                                        Dehydration    NaN    NaN                                                NaN  20000232                 NaN                                                NaN
84211                                             Sepsis    NaN    NaN                                                NaN  20000234                 NaN                                                NaN
84212                           Opportunistic infections    NaN    NaN                                                NaN  20000235                 NaN                                                NaN

[157336 rows x 7 columns]

In [81]:
trainexp2 = copy(smm4h21_train)
trainexp2['SNMS'] = trainexp2['SNMS'].apply(lambda row: list(set(eval(row))))
mdr_codes_to_exp2 = trainexp2[["code", 'STR', 'SNMS']]
mdr_codes_to_exp2['term'] = mdr_codes_to_exp2.apply(lambda x: ' '.join(list(set([x['STR']] + x['SNMS']))), axis=1)
mdr_codes_to_exp2 = mdr_codes_to_exp2[['term', 'code']]

smm4h21_train_ex2 = pd.concat([smm4h21_train, mdr_codes_to_exp2])
smm4h21_train_ex.to_csv('../../data/interim/smm4h21/train_ex2.csv', index=False)

/home/kaigorodov/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [82]:
#smm4h21_train, smm4h21_test = train_test_split(smm4h21, test_size=0.2)

smm4h21_train_ex.to_csv('../../data/interim/smm4h21/train_ex.csv', index=False)
smm4h21_train.to_csv('../../data/interim/smm4h21/train.csv', index=False)
smm4h21_val.to_csv('../../data/interim/smm4h21/test.csv', index=False)

In [83]:
smm4h21_train.shape, smm4h21_train_ex.shape, smm4h21_val.shape

((1512, 7), (157336, 7), (287, 7))

In [84]:
all_used_codes_smm4h21 = np.concatenate([smm4h21_train['code'].unique(), smm4h21_val['code'].unique()])
all_used_codes_smm4h21.shape

(605,)

# SMM4H 2017

## text files

In [85]:
train_datasets = []
test_datasets = []

path = '../../data/external/smm4h_2017/text_files_direct/'
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path + file, sep='\t', header=None)
    if 'train' in file:
        train_datasets.append(df)
    elif 'eval' in file:
        test_datasets.append(df)
        
smm4h17_train = pd.concat(train_datasets).rename
smm4h17_test  = pd.concat(test_datasets)

task_3_normalization_evaluation.txt
task_3_normalization_training1.txt
task_3_normalization_training2.txt
task_3_normalization_training3.txt
task_3_normalization_training4.txt

## KFU's smm4h17

In [92]:
smm4h17_spans_train = pd.read_csv('../../data/external/smm4h_2017/smm4h_kfu/processed_train/0.concept', 
                                  sep='|', header=None).dropna(axis=1)[[7, 9]]
smm4h17_spans_test = pd.read_csv('../../data/external/smm4h_2017/smm4h_kfu/processed_test/0.concept', 
                                  sep='|', header=None).dropna(axis=1)[[7, 9]]

In [93]:
mdr_codes = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_cod_to_norm = mdr_codes[['CODE', 'STR', 'SNMS']]

In [94]:
smm4h17_spans_train = smm4h17_spans_train.rename(columns={7: 'term', 9: 'code'})
smm4h17_spans_test = smm4h17_spans_test.rename(columns={7: 'term', 9: 'code'})

#smm4h17_spans_train = smm4h17_spans_train[smm4h17_spans_train['code'].str.isdigit()]
smm4h17_spans_test = smm4h17_spans_test[smm4h17_spans_test['code'].str.isdigit()]

smm4h17_spans_train['code'] = smm4h17_spans_train['code'].astype(int)
smm4h17_spans_test['code'] = smm4h17_spans_test['code'].astype(int)

smm4h17_spans_train = pd.merge(smm4h17_spans_train, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
smm4h17_spans_train = smm4h17_spans_train.drop(columns=['CODE'])
smm4h17_spans_train

smm4h17_spans_test = pd.merge(smm4h17_spans_test, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
smm4h17_spans_test = smm4h17_spans_test.drop(columns=['CODE'])
smm4h17_spans_test

               term      code                 STR                                               SNMS
0          sleepier  10041349          Somnolence  ['Somnolence', 'Somnolence', 'Somnolence', 'So...
1     dreamt colors  10000125     Abnormal dreams  ['Dream disorder', 'Abnormal dreams', 'Abnorma...
2            zombie  10016322    Feeling abnormal  ['Feeling abnormal', 'Abnormal feeling', 'Abno...
3          headache  10019211            Headache  ['Headache', 'Headache', 'Headache', 'Headache...
4             crazy  10061920  Psychotic disorder  ['Psychotic disorder, NOS', 'Psychotic disorde...
...             ...       ...                 ...                                                ...
2494      sleptwalk  10041347        Somnambulism  ['Somnambulism', 'Somnambulism', 'Somnambulism...
2495        fatigue  10016256             Fatigue  ['Fatigue', 'Fatigue', 'Fatigue', 'Tiredness',...
2496       headache  10019211            Headache  ['Headache', 'Headache', 'Headache', 'Headache...
2497      out of it  10041349          Somnolence  ['Somnolence', 'Somnolence', 'Somnolence', 'So...
2498       no sleep  10022437            Insomnia  ['Sleeplessness', 'Sleeplessness', 'Sleeplessn...

[2499 rows x 4 columns]

In [95]:
smm4h17_spans_train_ex = pd.concat([smm4h17_spans_train, mdr_codes_to_exp])
smm4h17_spans_train_ex

                                                    term      code                      STR                                               SNMS
0                                                 addict  10013663          Drug dependence  ['Drug dependence', 'Drug dependence', 'Drug d...
1                                      allergic reaction  10020751         Hypersensitivity  ['Hypersensitivity', 'Hypersensitivity', 'Hype...
2                                            pre-cutting  10022524  Intentional self-injury                                                 []
3                                            withdrawals  10048010      Withdrawal syndrome                                                 []
4                                              delirious  10012218                 Delirium  ['Delirium', 'Delirium', 'Delirium', 'Delirium...
...                                                  ...       ...                      ...                                                ...
84207  ['Non-haematological tumours of unspecified ma...  20000230                      NaN                                                NaN
84208                                Infective pneumonia  20000231                      NaN                                                NaN
84209                                        Dehydration  20000232                      NaN                                                NaN
84211                                             Sepsis  20000234                      NaN                                                NaN
84212                           Opportunistic infections  20000235                      NaN                                                NaN

[162474 rows x 4 columns]

In [97]:
smm4h17_spans_train

                   term      code                      STR                                               SNMS
0                addict  10013663          Drug dependence  ['Drug dependence', 'Drug dependence', 'Drug d...
1     allergic reaction  10020751         Hypersensitivity  ['Hypersensitivity', 'Hypersensitivity', 'Hype...
2           pre-cutting  10022524  Intentional self-injury                                                 []
3           withdrawals  10048010      Withdrawal syndrome                                                 []
4             delirious  10012218                 Delirium  ['Delirium', 'Delirium', 'Delirium', 'Delirium...
...                 ...       ...                      ...                                                ...
6645           sedation  10039897                 Sedation  ['Sedated state', 'Sedated', 'Under sedation',...
6646             zombie  10016322         Feeling abnormal  ['Feeling abnormal', 'Abnormal feeling', 'Abno...
6647     hallucinations  10019063            Hallucination  ['Hallucinations', 'Hallucinations', 'Hallucin...
6648    not go to sleep  10022437                 Insomnia  ['Sleeplessness', 'Sleeplessness', 'Sleeplessn...
6649    unable to sleep  10022437                 Insomnia  ['Sleeplessness', 'Sleeplessness', 'Sleeplessn...

[6650 rows x 4 columns]

In [103]:
trainexp2 = copy(smm4h17_spans_train)
trainexp2['SNMS'] = trainexp2['SNMS'].apply(lambda row: list(set(eval(row))))
mdr_codes_to_exp2 = trainexp2[["code", 'STR', 'SNMS']]
mdr_codes_to_exp2['term'] = mdr_codes_to_exp2.apply(lambda x: ' '.join(list(set([x['STR']] + x['SNMS']))), axis=1)
mdr_codes_to_exp2 = mdr_codes_to_exp2[['term', 'code']]

train_ex2 = pd.concat([smm4h17_spans_train, mdr_codes_to_exp2])
train_ex2.to_csv('../../data/interim/smm4h17/train_ex2.csv', index=False)

In [104]:
smm4h17_spans_train_ex.to_csv('../../data/interim/smm4h17/train_ex.csv', index=False)
smm4h17_spans_train.to_csv('../../data/interim/smm4h17/train.csv', index=False)
smm4h17_spans_test.to_csv('../../data/interim/smm4h17/test.csv', index=False)

In [105]:
smm4h17_spans_train.shape, smm4h17_spans_train_ex.shape, train_ex2.shape

((6650, 4), (162474, 4), (13300, 4))

In [106]:
all_used_codes_smm4h17 = np.concatenate([smm4h17_spans_train['code'].unique(), smm4h17_spans_test['code'].unique()])
all_used_codes_smm4h17.shape

(725,)

In [107]:
# smm4h17_dict_train = pd.read_csv('../../data/external/smm4h_2017/smm4h_kfu/train_dictionary.txt', 
#                                   sep='|', header=None, error_bad_lines=False)
# smm4h17_dict_test = pd.read_csv('../../data/external/smm4h_2017/smm4h_kfu/test_dictionary.txt', 
#                                   sep='|', header=None, error_bad_lines=False)

# UMLS micro

In [108]:
umls_eng_mdr = pd.read_csv('../../data/external/mrconso_umls/MRCONSO_ENG_MDR.csv')
umls_eng_mdr

        Unnamed: 0       CUI  LAT TS        LUI  STT        SUI ISPREF        AUI  SAUI  SCUI      SDUI  SAB  TTY      CODE                                     STR  SRL SUPPRESS    CVF
0             2276  C0000727  ENG  P   L0000727  VCW   S0584932      N   A0639292   NaN   NaN  10000647  MDR   PT  10000647                           Acute abdomen    3        N  256.0
1             2282  C0000727  ENG  P   L0000727  VCW   S0584932      N  A25741630   NaN   NaN  10000647  MDR  LLT  10000647                           Acute abdomen    3        N  256.0
2             2296  C0000727  ENG  S   L0161339   PF   S1616740      Y  A25720821   NaN   NaN  10000647  MDR  LLT  10042784                Syndrome abdominal acute    3        N    NaN
3             2299  C0000727  ENG  S   L0161339  VCW   S1616739      Y  A25708511   NaN   NaN  10000647  MDR  LLT  10000096                Abdominal syndrome acute    3        N    NaN
4             2334  C0000729  ENG  P   L0000729   VC   S0353650      N  A25716812   NaN   NaN  10000081  MDR  LLT  10000057                        Abdominal cramps    3        N  256.0
...            ...       ...  ... ..        ...  ...        ...    ...        ...   ...   ...       ...  ...  ...       ...                                     ...  ...      ...    ...
112380    11068329  C5244084  ENG  P  L16308084   PF  S19795290      Y  A31790308   NaN   NaN  10055798  MDR  LLT  10084046  Severe bleeding - GUSTO classification    3        N    NaN
112381    11068331  C5244085  ENG  P  L16308140   VC  S19795001      Y  A31790861   NaN   NaN  10053315  MDR  LLT  10084469                          Home isolation    3        N    NaN
112382    11068333  C5244086  ENG  P  L16307956   PF  S19794712      Y  A31789860   NaN   NaN  10084354  MDR  LLT  10084499                 COVID-19 rapid POC test    3        N    NaN
112383    11068334  C5244087  ENG  P  L16308134   PF  S19794970      Y  A31790128   NaN   NaN  10063630  MDR  LLT  10083228                         Genital scratch    3        N    NaN
112384    11068335  C5244088  ENG  P  L16307902   PF  S19795037      Y  A31789368   NaN   NaN  10046713  MDR  LLT  10083293                           Indiana pouch    3        N    NaN

[112385 rows x 19 columns]

In [109]:
code_to_term = umls_eng_mdr[['CODE', 'STR']].groupby('CODE').agg(set)
code_to_term[[len(i)>1 for i in code_to_term['STR']]].to_numpy()
code_to_term

                                              STR
CODE
10000001              {"Ventilation" pneumonitis}
10000002         {11-beta-hydroxylase deficiency}
10000003            {11-oxysteroid activity incr}
10000004       {11-oxysteroid activity increased}
10000005                  {17 ketosteroids urine}
...                                           ...
20000231              {Infective pneumonia (SMQ)}
20000232                      {Dehydration (SMQ)}
20000233  {Hypokalemia (SMQ), Hypokalaemia (SMQ)}
20000234                           {Sepsis (SMQ)}
20000235         {Opportunistic infections (SMQ)}

[84213 rows x 1 columns]

# PsyTar

In [110]:
def get_MDR_code_by_CUI(CUI):
    potentials = umls_eng_mdr[umls_eng_mdr['CUI']==CUI]
    lst =  potentials['CODE'].to_list()
    return max(set(lst), key=lst.count) if len(lst) > 0 else None

In [111]:
psytar_text = pd.read_excel('../../data/external/psytar/PsyTAR_dataset.xlsx', sheet_name='Sentence_Labeling')
psytar_text = psytar_text[['drug_id', 'sentences']]
psytar_text = psytar_text.groupby('drug_id').agg(list)
psytar_text = psytar_text.reset_index(inplace=False)
psytar_text['sentences'] = psytar_text['sentences'].apply(lambda x: '<SENT>'.join([str(i) for i in x]))

In [112]:
psytar_sent = pd.read_excel('../../data/external/psytar/PsyTAR_dataset.xlsx', sheet_name='ADR_Identified')
psytar_adr = pd.read_excel('../../data/external/psytar/PsyTAR_dataset.xlsx', sheet_name='ADR_Mapped')

# SENT
psytar_sent['mention'] = psytar_sent.apply(
    lambda x: [x[col] for col in psytar_sent if 'ADR' in col and x[col] is not np.nan], 
    axis=1)
psytar_sent = psytar_sent[[col for col in psytar_sent.columns if "ADR" not in col]]
psytar_sent = psytar_sent[['id', 'drug_id', 'sentence_index', 'sentences']]
psytar_sent = psytar_sent.rename(columns={'sentences': 'sentence'})

# ADR
psytar_adr = psytar_adr[psytar_adr['type']=='ADR'][
    ['drug_id', 'sentence_index', 'ADRs', 'UMLS1']
]

In [113]:
# MERGE
psytar = pd.merge(psytar_adr, psytar_sent,  how='left', 
         left_on=['drug_id','sentence_index'], 
         right_on = ['drug_id','sentence_index'])

psytar = psytar.merge(psytar_text, on='drug_id', how='left')

In [114]:
# get CUI and term positions (may be more)
psytar['CUI'], psytar['term'] = zip(*psytar['UMLS1'].apply(lambda x: x.split('/')[:2] if len(x.split('/')) >= 2 else [x, None]))

# drop bad data
psytar = psytar[~psytar['term'].isna()]
psytar = psytar[psytar['CUI'].str[0]=='C']

# select needed columns
psytar_adrs = psytar[['ADRs', 'term', 'CUI', 'sentence_index', 'sentence', 'sentences']]
psytar_adrs['MDR'] = psytar_adrs['CUI'].apply(lambda x: get_MDR_code_by_CUI(x.strip()))

psytar_adrs = psytar_adrs.drop(columns=['CUI'])
psytar_adrs = psytar_adrs.dropna()
psytar_adrs = psytar_adrs.rename(columns={
    'term': 'norm_form',
    'ADRs': 'term',
    'sentence_index': 'sent_idx',
    'sentence': 'sent',
    'sentences': 'text',
    'MDR': 'code'
})

/home/kaigorodov/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [115]:
# MAKE SPANS
psytar_adrs['span'] = psytar_adrs.apply(
    lambda x: list(re.finditer(x['term'].lower(), x['text'].lower())), axis=1)

psytar_adrs['start'] = psytar_adrs['span'].apply(lambda x: x[0].span()[0] if len(x) == 1 else None)
psytar_adrs['end'] = psytar_adrs['span'].apply(lambda x: x[0].span()[1] if len(x) == 1 else None)

psytar_adrs = psytar_adrs.drop(columns=['span'])
psytar_adrs = psytar_adrs[
    ['term', 'start', 'end', 'sent_idx', 'text', 'norm_form', 'code']
]

#psytar_adrs = psytar_adrs[psytar_adrs['code'].str.isdigit()]

mdr_codes = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_cod_to_norm = mdr_codes[['CODE', 'STR', 'SNMS']]
psytar_adrs = pd.merge(psytar_adrs, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
psytar_adrs = psytar_adrs.drop(columns=['CODE'])
psytar_adrs

psytar_adrs

                                            term  start    end  sent_idx                                               text                 norm_form        code                     STR                                               SNMS
0                         short-term memory loss   21.0   43.0         1  extreme weight gain, short-term memory loss, h...   Poor short-term memory   10040602.0  Short-term memory loss  ['Poor short-term memory', 'Short-term memory ...
1                                      hair loss   45.0   54.0         1  extreme weight gain, short-term memory loss, h...                 Alopecia   10001760.0                Alopecia  ['Alopecia', 'Alopecia', 'Alopecia', 'Alopecia...
2      completely destroyed sexually functioning    0.0   41.0         1  COMPLETELY DESTROYED SEXUALLY FUNCTIONING .<SE...       Sexual Dysfunction   10040477.0      Sexual dysfunction  ['Sexual dysfunction', 'Sexual dysfunction', '...
3     completely destroyed my sexual functioning  144.0  186.0         4  COMPLETELY DESTROYED SEXUALLY FUNCTIONING .<SE...       Sexual Dysfunction   10040477.0      Sexual dysfunction  ['Sexual dysfunction', 'Sexual dysfunction', '...
4                                           pssd    NaN    NaN         5  COMPLETELY DESTROYED SEXUALLY FUNCTIONING .<SE...       Sexual Dysfunction   10040477.0      Sexual dysfunction  ['Sexual dysfunction', 'Sexual dysfunction', '...
...                                          ...    ...    ...       ...                                                ...                       ...         ...                     ...                                                ...
3985                            early on: nausea    NaN    NaN         1  Stomach problems early on: bloating, nausea, c...                   Nausea   10028813.0                  Nausea  ['Nausea', 'Nausea', 'Nausea', 'Nausea', 'Naus...
3986                      early on: constipation    NaN    NaN         1  Stomach problems early on: bloating, nausea, c...             Constipation   10010774.0            Constipation  ['Constipation', 'Constipation', 'Constipation...
3987                                     yawning  137.0  144.0         3  Stomach problems early on: bloating, nausea, c...                  Yawning   10048232.0                 Yawning  ['Yawning', 'Yawning', 'Yawn', '[D]Yawning', '...
3988          mild insomnia for the first 3 days    NaN    NaN         1  The only side effects I experienced were mild ...            Sleeplessness   10022437.0                Insomnia  ['Sleeplessness', 'Sleeplessness', 'Sleeplessn...
3989      extreme shakiness for the first 3 days   59.0   97.0         1  The only side effects I experienced were mild ...                   Shakes   10040527.0               Shakiness                                                 []

[3990 rows x 9 columns]

In [116]:
psytar_adrs_train, psytar_adrs_test = train_test_split(psytar_adrs, test_size=0.2)

In [117]:
psytar_adrs_train_ex = pd.concat([psytar_adrs_train, mdr_codes_to_exp])
psytar_adrs_train_ex

                                                    term  start    end  sent_idx                                               text         norm_form        code             STR                                               SNMS
3540                                      arid dry mouth  658.0  672.0       2.0  sweating,dizziness, severe dry mouth (coughing...       Xerostomia   10013781.0       Dry mouth  ['Xerostomia', 'Xerostomia', 'Xerostomia', 'As...
178                                higher anxiety levels   26.0   47.0       1.0  vivid nightmares, sweats, higher anxiety level...          Anxiety   10002855.0         Anxiety  ['Anxiety', 'Anxiety', 'Anxiety reaction', 'An...
350                                    severe depression   37.0   54.0       1.0  Extremely hard to climax during sex, Severe De...   Depressed mood   10012374.0  Depressed mood  ['Depressed mood', 'Depressed mood', 'Depresse...
886                                             sweating    NaN    NaN       1.0  Shakes, sweating, difficulty sleeping, diarrhe...         Sweating   10042661.0        Sweating  ['Sweating', 'Sweating', 'Sweating', 'Sweating...
2440                                            sweating   29.0   37.0       1.0  Initially, lose of appetite, sweating, dry mou...         Sweating   10042661.0        Sweating  ['Sweating', 'Sweating', 'Sweating', 'Sweating...
...                                                  ...    ...    ...       ...                                                ...               ...         ...             ...                                                ...
84207  ['Non-haematological tumours of unspecified ma...    NaN    NaN       NaN                                                NaN               NaN  20000230.0             NaN                                                NaN
84208                                Infective pneumonia    NaN    NaN       NaN                                                NaN               NaN  20000231.0             NaN                                                NaN
84209                                        Dehydration    NaN    NaN       NaN                                                NaN               NaN  20000232.0             NaN                                                NaN
84211                                             Sepsis    NaN    NaN       NaN                                                NaN               NaN  20000234.0             NaN                                                NaN
84212                           Opportunistic infections    NaN    NaN       NaN                                                NaN               NaN  20000235.0             NaN                                                NaN

[159016 rows x 9 columns]

In [118]:
trainexp2 = copy(psytar_adrs_train)
trainexp2['SNMS'] = trainexp2['SNMS'].apply(lambda row: list(set(eval(row))))
mdr_codes_to_exp2 = trainexp2[["code", 'STR', 'SNMS']]
mdr_codes_to_exp2['term'] = mdr_codes_to_exp2.apply(lambda x: ' '.join(list(set([x['STR']] + x['SNMS']))), axis=1)
mdr_codes_to_exp2 = mdr_codes_to_exp2[['term', 'code']]

train_ex2 = pd.concat([psytar_adrs_train, mdr_codes_to_exp2])
train_ex2.to_csv('../../data/interim/psytar/train_ex2.csv', index=False)

/home/kaigorodov/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [119]:
psytar_adrs_train_ex.to_csv('../../data/interim/psytar/train_ex.csv', index=False)
psytar_adrs_train.to_csv('../../data/interim/psytar/train.csv', index=False)
psytar_adrs_test.to_csv('../../data/interim/psytar/test.csv', index=False)

In [120]:
psytar_adrs_train_ex.shape, psytar_adrs_train.shape, train_ex2.shape

((159016, 9), (3192, 9), (6384, 9))

In [121]:
all_used_codes_psytar = np.concatenate([psytar_adrs_train['code'].unique(), psytar_adrs_test['code'].unique()])
all_used_codes_psytar.shape

(624,)

# CADEC

In [122]:
dfs = []

empty_files = 0
for file in os.listdir('../../data/external/cadec2/cadec/meddra/'):
    try:
        file_name = '.'.join(file.split('.')[:2])
        #print(file_name)
        text = pd.read_csv('../../data/external/cadec2/cadec/text/' + f"{file_name}.txt", sep='\t', header=None)
        adr = pd.read_csv('../../data/external/cadec2/cadec/meddra/' + file, sep='\t', header=None)

    except pd.errors.EmptyDataError as e:
        empty_files += 1
        #print(file, end=' ')
        continue
    
    # подбор предложения
    adr['sent_number'] = adr[0].apply(lambda x: int(x[2:])-1 if x[2:].isdigit() else None)
    text = text.reset_index()
    df = pd.merge(adr, text, how='left', left_on='sent_number', right_on='index')
    df['text'] = '<SENT>'.join(text[0].to_list())
    dfs.append(df)

In [123]:
cadec2 = pd.concat(dfs, axis=0)

cadec2 = cadec2.rename(
    columns={1: 'code_span', 2: 'term', '0_y': 'sent'})[['term', 'code_span', 'sent', 'text']]

cadec2 = cadec2.dropna()

cadec2['code'] = cadec2['code_span'].apply(lambda x: x.split(' ')[0])
cadec2['span'] = cadec2['code_span'].apply(lambda x: x.split(' ')[-2:])
cadec2['span'] = cadec2['span'].apply(lambda x: [i.split(';')[-1] for i in x])

cadec2 = cadec2[cadec2['code'].str.isdigit()]
cadec2['start'] = cadec2['span'].apply(lambda x: x[0])
cadec2['end'] = cadec2['span'].apply(lambda x: x[1])

cadec2 = cadec2[
    ['term', 'start', 'end', 'sent', 'text', 'code']
]

cadec2 = cadec2[cadec2['code'].str.isdigit()]
cadec2

                        term start  end                                               sent                                               text      code
0               light nausea   126  138  For the first 8 days of ever taking it, the on...  For the first 8 days of ever taking it, the on...  10028813
1   sharp pain in my stomach   229  253  After 8 days, the feeling elevated to an annoy...  For the first 8 days of ever taking it, the on...  10033371
2            pain unbearable   329  339  Then two days later, I had to stop using it be...  For the first 8 days of ever taking it, the on...  10033371
3               stomach pain   395  407  Now I have been off for two days and I still h...  For the first 8 days of ever taking it, the on...  10042076
4               stomach pain   424  436  Now I have to see my doctor again to see if I ...  For the first 8 days of ever taking it, the on...  10042076
..                       ...   ...  ...                                                ...                                                ...       ...
12              pain in back   366  370  I lost 2 months of my life and I still don't r...  Horrific medication - Suffered an acute pancre...  10003993
0                   sedation     5   13                                     Mild sedation.  Mild sedation.<SENT>This is a GREAT drug for m...  10039897
0                     nausea     0    6                                            nausea.                     nausea.<SENT>some pain relief.  10028813
0               hurts throat   111  116  My throat still hurts while on it; however the...  Haven't really experienced any side effects th...  10033494
0                 stiff neck     0   10   stiff neck, tightness in shoulders, muscle pain.  stiff neck, tightness in shoulders, muscle pai...  10042043

[4401 rows x 6 columns]

In [124]:
cadec2['code'] = cadec2['code'].astype(int)

In [125]:
mdr_codes = pd.read_csv('../../data/interim/meddra_codes_terms_synonims.csv')
mdr_cod_to_norm = mdr_codes[['CODE', 'STR', 'SNMS']]
cadec2 = pd.merge(cadec2, mdr_cod_to_norm, left_on='code', right_on='CODE', how='left')
cadec2 = cadec2.drop(columns=['CODE'])
cadec2

                          term start  end                                               sent                                               text      code           STR                                               SNMS
0                 light nausea   126  138  For the first 8 days of ever taking it, the on...  For the first 8 days of ever taking it, the on...  10028813        Nausea  ['Nausea', 'Nausea', 'Nausea', 'Nausea', 'Naus...
1     sharp pain in my stomach   229  253  After 8 days, the feeling elevated to an annoy...  For the first 8 days of ever taking it, the on...  10033371          Pain  ['Pain', 'Pain', 'Pain', 'Pain', 'Pain', 'Pain...
2              pain unbearable   329  339  Then two days later, I had to stop using it be...  For the first 8 days of ever taking it, the on...  10033371          Pain  ['Pain', 'Pain', 'Pain', 'Pain', 'Pain', 'Pain...
3                 stomach pain   395  407  Now I have been off for two days and I still h...  For the first 8 days of ever taking it, the on...  10042076  Stomach ache  ['Stomach ache', 'Stomach ache', 'Belly ache',...
4                 stomach pain   424  436  Now I have to see my doctor again to see if I ...  For the first 8 days of ever taking it, the on...  10042076  Stomach ache  ['Stomach ache', 'Stomach ache', 'Belly ache',...
...                        ...   ...  ...                                                ...                                                ...       ...           ...                                                ...
4396              pain in back   366  370  I lost 2 months of my life and I still don't r...  Horrific medication - Suffered an acute pancre...  10003993      Backache  ['Back pain', 'Back pain', 'Back pain', 'Back ...
4397                  sedation     5   13                                     Mild sedation.  Mild sedation.<SENT>This is a GREAT drug for m...  10039897      Sedation  ['Sedated state', 'Sedated', 'Under sedation',...
4398                    nausea     0    6                                            nausea.                     nausea.<SENT>some pain relief.  10028813        Nausea  ['Nausea', 'Nausea', 'Nausea', 'Nausea', 'Naus...
4399              hurts throat   111  116  My throat still hurts while on it; however the...  Haven't really experienced any side effects th...  10033494   Pain throat  ['Sore throat', 'Sore throat', 'Sore throat', ...
4400                stiff neck     0   10   stiff neck, tightness in shoulders, muscle pain.  stiff neck, tightness in shoulders, muscle pai...  10042043    Stiff neck  ['Neck stiffness', 'Neck stiffness', 'Neck rig...

[4401 rows x 8 columns]

In [126]:
cadec2_train, cadec2_test = train_test_split(cadec2, test_size=0.2)

In [127]:
cadec2_train_ex = pd.concat([cadec2_train, mdr_codes_to_exp])
cadec2_train_ex

                                                    term start  end                                               sent                                               text      code                           STR                                               SNMS
3909                              weakness in upper back    52   62    Symptoms began 12 weeks after starting Lipitor.  Muscle aches and weakness in neck, arms, shoul...  10028350               Muscle weakness  ['Muscle weakness', 'Decreased muscle strength...
2550                                        stomach pain   208  220                                             Scary.  Acid Reflux, stomach pain, muscle pain, troubl...  10042076                  Stomach ache  ['Stomach ache', 'Stomach ache', 'Belly ache',...
3537                                unsteasiness walking   243  263  After taking drug for several months, I experi...  Type II diabetic, formerly on oral medication ...  10046261                 Unsteady gait  ['Unsteady gait', 'Unsteady gait', 'Unsteady g...
2990                                                pain   263  267  I can only hope that having taken this drug fo...  I have been taking simvostatin for about 5 yea...  10033371                          Pain  ['Pain', 'Pain', 'Pain', 'Pain', 'Pain', 'Pain...
2864                     major gastrointestinal problems    83  114  Have been going to Drs. trying to find out wha...  Severe back pain, muscle degenerating, can bar...  10018011  Gastrointestinal symptom NOS  ['Gastrointestinal symptom', 'Gastrointestinal...
...                                                  ...   ...  ...                                                ...                                                ...       ...                           ...                                                ...
84207  ['Non-haematological tumours of unspecified ma...   NaN  NaN                                                NaN                                                NaN  20000230                           NaN                                                NaN
84208                                Infective pneumonia   NaN  NaN                                                NaN                                                NaN  20000231                           NaN                                                NaN
84209                                        Dehydration   NaN  NaN                                                NaN                                                NaN  20000232                           NaN                                                NaN
84211                                             Sepsis   NaN  NaN                                                NaN                                                NaN  20000234                           NaN                                                NaN
84212                           Opportunistic infections   NaN  NaN                                                NaN                                                NaN  20000235                           NaN                                                NaN

[159344 rows x 8 columns]

In [128]:
trainexp2 = copy(cadec2_train)
trainexp2['SNMS'] = trainexp2['SNMS'].apply(lambda row: list(set(eval(row))))
mdr_codes_to_exp2 = trainexp2[["code", 'STR', 'SNMS']]
mdr_codes_to_exp2['term'] = mdr_codes_to_exp2.apply(lambda x: ' '.join(list(set([x['STR']] + x['SNMS']))), axis=1)
mdr_codes_to_exp2 = mdr_codes_to_exp2[['term', 'code']]

train_ex2 = pd.concat([cadec2_train, mdr_codes_to_exp2])
train_ex2.to_csv('../../data/interim/cadec/train_ex2.csv', index=False)

/home/kaigorodov/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [129]:
cadec2_train_ex.to_csv('../../data/interim/cadec/train_ex.csv', index=False)
cadec2_train.to_csv('../../data/interim/cadec/train.csv', index=False)
cadec2_test.to_csv('../../data/interim/cadec/test.csv', index=False)

In [130]:
cadec2_train.shape, cadec2_train_ex.shape, train_ex2.shape

((3520, 8), (159344, 8), (7040, 8))

In [131]:
all_used_codes_cadec = np.concatenate([cadec2_train['code'].unique(), cadec2_test['code'].unique()])
all_used_codes_cadec.shape

(773,)

# MRCONSO

In [ ]:
mrconso = pd.read_csv('../../data/external/mrconso_umls/MRCONSO_ENG.RRF', sep='|', header=None)

In [ ]:
mrconso = mrconso.rename(columns={
    0: "CUI", 
    1: 'LAT',
    2: 'TS',
    3: "LUI",
    4: "STT",
    5: "SUI",
    6: "ISPREF",
    7: "AUI",
    8: "SAUI",
    9: "SCUI",
    10: "SDUI",
    11: "SAB",
    12: "TTY",
    13: "CODE",
    14: "STR",
    15: "SRL",
    16: "SUPPRESS",
    17: "CVF"
})[
    ["CUI", "TS", "SAB", "TTY", "CODE", "STR"]
]

In [ ]:
mdr_codes = mrconso[mrconso['SAB']=="MDR"].groupby("CODE").agg(lambda x: x.unique())
snomed =    mrconso[mrconso['SAB']=="SNOMEDCT_US"]

In [ ]:
from tqdm import tqdm
tqdm.pandas()

In [ ]:
mdr_codes = mdr_codes.reset_index(inplace=False)
mdr_codes['SNMS'] = mdr_codes['CUI'].progress_apply(lambda cui: snomed[snomed['CUI']==cui]['STR'].to_list())

In [ ]:
mdr_codes

In [ ]:
mdr_codes.to_csv('../../data/interim/meddra_codes_terms_synonims.csv', index=False)